*.obj filter=lfs diff=lfs merge=lfs -text
*.tgz filter=lfs diff=lfs merge=lfs -text
Assets/Bones/Female[[:space:]]pelvis.obj filter=lfs diff=lfs merge=lfs -text
Packages/com.ptc.vuforia.engine-10.2.5.tgz filter=lfs diff=lfs merge=lfs -text
Assets/Bones/Female/[[:space:]]pelvis.obj filter=lfs diff=lfs merge=lfs -text
